

<div class="jumbotron">


  <h1>Geocode reverse test</h1>
  <p class="lead">
    Angular services for Geocode reverse APIs.
  </p>
</div>

<div class="row marketing">

  <h4>Geocode reverse resolution</h4>
  <p>
    The project compare the results of diferent APIs to geocode reverse in oder to find out what city it`s located.
  </p>

  <h4>Analyse the results</h4>
  <p>
    The results follow in the list, to see than it's needed to click on the geocode on the title.
  </p>
  <leaflet class="col-xs-12" style="height:400px" markers="GeoCodes" center="osloCenter"></leaflet>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
 <div ng-repeat="marker in GeoCodes" class="panel panel-default">
    <div class="panel-heading" role="tab" id="{{'head'+$index}}">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" ng-href="{{'#collapse'+$index}}" aria-expanded="false" aria-controls="{{'collapse'+$index}}">
          {{marker.lat+"x"+marker.lng}}
        </a>
      </h4>
    </div>

    <div id="{{'collapse'+$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{'head'+$index}}">
      <div class="panel-body">
        <pre ng-repeat="result in marker.results">{{result | json}}</pre>
      </div>
    </div>
  </div>
</div>

